<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjJWZUacvU1vIz_hYkPG8o2s-1oWdNyOE</string>
	<key>GCM_SENDER_ID</key>
	<string>315854700999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.route4me.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>route4me-8aae4</string>
	<key>STORAGE_BUCKET</key>
	<string>route4me-8aae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315854700999:ios:b2980962fa241f230f19e2</string>
	<key>DATABASE_URL</key>
	<string>https://route4me-8aae4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>